Package: com.shepgoba.ccmonoaudio
Name: CCMonoAudio
Depends: mobilesubstrate, com.opa334.ccsupport
Version: 0.1
Architecture: iphoneos-arm
Description: Toggle mono audio easily from the control center!
Maintainer: shepgoba
Author: shepgoba
Section: Control Center (Modules)
